@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-btn {
      @apply transition-colors duration-300 font-normal transform dark:text-gray-200 text-xl text-black hover:text-gray-800 dark:hover:text-blue-400 md:mx-3 md:my-0;
    }
    .connect-btn{
     @apply px-4 max-h-max m-0 py-3 bg-black text-white font-semibold rounded-sm text-base active:bg-gray-800 active:shadow-lg transition shadow-md hover:shadow-lg hover:bg-gray-900 duration-150 ease-in-out
    }
    .category-tag{
        @apply inline-block rounded-full border-2 text-sm bg-neutral-100 border-neutral-800 px-6 pt-2 pb-[6px] font-medium uppercase leading-normal text-neutral-800 transition duration-150 ease-in-out hover:border-neutral-800 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-800 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 active:border-neutral-900 active:text-neutral-900 dark:border-neutral-900 dark:text-neutral-900 dark:hover:border-neutral-900 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10 dark:hover:text-neutral-900 dark:focus:border-neutral-900 dark:focus:text-neutral-900 dark:active:border-neutral-900 dark:active:text-neutral-900
    }
    /* .main-btn {
      @apply text-lg px-8 py-3 rounded-3xl bg-steelBlue-100 text-lightCyan-50 active:bg-steelBlue-50 hover:bg-steelBlue-50 hover:text-white dark:text-white dark:bg-steelBlue-300 dark:hover:bg-steelBlue-200
    }
    .icon-btn{
      @apply dark:bg-blackSpace-400 bg-transparent hover:bg-whiteAlpha-200 text-white p-2.5 rounded-md
    }
    .info-btn{
      @apply shadow-md bg-white dark:bg-blackSpace-400 px-2 py-2.5 rounded-md hover:bg-gray-100 active:bg-gray-200 transition-all duration-100
    } */
}
  